/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

body {
  font-family: "Abel", serif;
  background: url(./images/lamps-7997033_1920.jpg) no-repeat center center /
    cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.accordion {
  width: 75%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}

.question {
  margin: 1rem 0 0.5rem 0;
  border-bottom: 2px solid #000;
  padding: 0.25rem;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.question::after {
  content: "+";
  position: absolute;
  right: 0;
}

h1 {
  text-align: center;
}

.qa-container .answer {
  font-size: 1.25rem;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.qa-container.active .answer {
  height: 10rem;
}

.qa-container.active .question {
  font-size: 1.25rem;
  transition: 0.5s;
}

.qa-container.active .question::after {
  content: "-";
  font-size: 2rem;
  position: absolute;
  right: 2px;
}
